<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="StudentMS" connectionString="DATA SOURCE=localhost:1521/pdborcl;PASSWORD=hr;USER ID=HR"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnectionString" connectionString="DATA SOURCE=10.7.1.15:1521/pdborcl;PASSWORD=2013BIT039;USER ID=2013BIT039"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>